@import "./styles/reset.css";

.App__main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__main .main__RsWrapper {
  width: 1360px;
  /* height: 100%; */
}

.App__main .main__image {
  width: 100%;
  height: 100vh;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/leafsts-fileserver.appspot.com/o/tesk%2Fmain.png?alt=media&token=04dfc88c-ff63-40e5-aa09-978caf511ace");
  background-size: cover;

  background-position: center;

  /* background-attachment: initial; */
}

.App__main .main__RsWrapper .main__slide {
  width: 100%;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.App__main .main__RsWrapper .slide__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App__main .main__RsWrapper .main__slide .slide__text {
  font-size: 36px;
  color: black;

  margin-left: 10px;
  margin-bottom: 50px;
}
.App__main .main__RsWrapper .main__slide .slide__bar {
  border-bottom: 5px solid #ffcb08;
  margin-bottom: 30px;
  margin-left: 30px;

  width: 510px;
}
.App__main .main__RsWrapper .main__slide .slide__images {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App__main .main__RsWrapper .main__slide .slide__images img {
  width: 325px;
  height: 325px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App__main .main__graph {
  width: 100%;
  height: 840px;

  background-color: #032950;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 48px;
}

.App__main .main__graph .graph__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App__main .main__graph .graph__bottom {
  margin-top: 100px;
}

.App__main .main__graph .graph__top,
.graph__bottom {
  width: 1360px;
  /* width: 742px;
  height: 124px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App__main .main__graph .graph__top,
.graph__bottom .graph__graph {
  width: 50%;
}

.App__main .main__graph .graph__top .graph__bigTitle,
.graph__title {
  display: flex;
  flex-direction: row;
}

.App__main .main__graph .graph__top .graph__bigTitle,
.graph__title .title__bar {
  margin-left: 50px;
}

.App__main .main__graph .graph__top .graph__bigTitle,
.graph__title .title__bar ::before {
  position: absolute;
  width: 10%;
  height: 30;
  content: "";

  background-color: #ffcb08;
}

.App__main .main__graph .graph__top .graph__bigTitle {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* .App__main
  .main__RsWrapper
  .main__graph
  .graph__top
  .graph__title
  .title__bar
  ::before {
  position: absolute;
  width: 388px;
  height: 53px;

  background-color: #ffcb08;
} */

.App__main .main__graph .graph__top img {
  width: 133px;
  height: 117px;

  background-size: cover;
}

.App__main .main__graph .graph__bottom .graph__table {
  width: 50%;
  height: 100%;
}

.App__main .main__banner {
  width: 100%;
  height: 430px;

  background-color: #eeeeee;
  color: #222222;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__main .main__banner .banner__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__main .main__banner .banner__text1 {
  font-size: 48px;
  margin-top: 80px;
}
.App__main .main__banner .banner__text2 {
  font-size: 24px;
  margin-top: 40px;
}

.App__main .main__banner .banner__images {
  width: 1360px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  margin: 50px 0;
}

.App__main .main__RsWrapper .main__startBanner {
  width: 100%;
  height: 820px;

  margin: 200px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App__main .main__RsWrapper .main__startBanner .startBanner__title {
  width: 270px;
  height: 350;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  color: black;
  font-size: 72px;

  margin-bottom: 490px;
}
.App__main .main__RsWrapper .main__startBanner .startBanner__title div {
  line-height: 90px;
}

.App__main
  .main__RsWrapper
  .main__startBanner
  .startBanner__title
  .title__wrapper {
  display: flex;
  flex-direction: row;
}
.App__main
  .main__RsWrapper
  .main__startBanner
  .startBanner__title
  .title__wrapper {
  color: #ffcb08;
}

.App__main .main__RsWrapper .main__startBanner .startBanner__top {
  width: 900px;

  background-size: cover;

  margin-bottom: 14px;
}

.App__main .main__RsWrapper .main__startBanner .startBanner__bot {
  width: 900px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-size: cover;
}

.App__main .main__RsWrapper .main__whyPetmart {
  width: 100%;
  height: auto;

  color: #222222;

  display: flex;
  flex-direction: column;

  margin: 130px 0;
}
.App__main .main__RsWrapper .main__whyPetmart .whyPetMart__title {
  font-size: 72px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App__main
  .main__RsWrapper
  .main__whyPetmart
  .whyPetMart__title
  .whyPetMart__title__desc {
  font-size: 24px;

  margin-bottom: 100px;
}

.App__main .main__RsWrapper .main__whyPetmart .whyPetMart__title div {
  color: #222222;
}

.App__main .main__RsWrapper .main__whyPetmart .whyPetmart__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.App__main .main__RsWrapper .main__whyPetmart .sticker__Area {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.petMart__desc {
  font-size: 18px;

  margin-top: 10px;
  line-height: 20px;
}

.petMart__descArea {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.petMart__descArea div {
  margin-top: 10px;
}
.petmart__imgs img {
  width: 300px;
  height: 300px;

  border-radius: 50%;
  background-size: cover;
}

/* .App__main .main__RsWrapper .main__whyPetMart .petMart__images {
  width: 300px;
  height: 500px;
}

.App__main
  .main__RsWrapper
  .main__whyPetMart
  .petMart__images
  .petMart__image__img {
  width: 300px;
  height: 300px;

  border-radius: 50%;
  background-size: cover;
} */

.App__main .main__request {
  width: 100%;
  height: 600px;
}

.App__main .main__request img {
  width: 100%;
  height: 600px;
  background-size: cover;
}

.App__main .main__story {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/leafsts-fileserver.appspot.com/o/tesk%2FbackgroundImage.png?alt=media&token=88a7130f-34e8-4088-a99d-541506f4498a");
  background-size: cover;

  width: 100%;
  height: 1300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__main .main__story .story__top {
  width: 1360px;

  margin: 100px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App__main .main__story .story__top .story__left {
  width: 785px;
  height: 420px;

  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.App__main .main__story .story__top .story__left .left__1 {
  font-size: 72px;

  line-height: 90px;
}

.App__main .main__story .story__top .story__left .left__1 :nth-child(2) {
  color: #ffcb08;
}

.App__main .main__story .story__top .story__left .left__2 {
  font-size: 36px;
  line-height: 50px;
}

.App__main .main__story .story__top .story__left .left__2 :nth-child(2) {
  color: #ffcb08;
}

.App__main .main__story .story__top .story__right {
  width: 785px;
  height: 420px;

  background-size: cover;
}

.App__main .main__story .story__mid {
  width: 1360px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App__main .main__story .story__mid .story__mid__1,
.story__mid__2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.App__main .main__story .story__mid .story__mid__1 {
  margin-bottom: 50px;
}

.App__main .main__story .story__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 100px 0;

  width: 440px;
  height: 60px;

  border: 1px solid #fff;
}

.App__main .main__price {
  width: 100%;
  height: 890px;

  margin: 100px 0;

  color: #222222;
}

.App__main .main__price .price__table img {
  width: 100%;
  height: auto;
}

.App__main .main__price .price__bottom {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 70px;
}

.App__main .main__price .price__title {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 48px;
}

.mid__text {
  margin-top: 10px;
}

.table__underTitle {
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
